<!DOCTYPE html>

<html>

<head>
        <link rel="icon" href="/img/weather.png"/>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>About</title>
</head>

<body>
        <div class="main-content">
                {{>header}}
        <img class="portrait" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYKog6RmJPK3ZtaeTb3qTdRWAyx1GynLhb5g&usqp=CAU"> 
        </div>
        <a href="https://www.linkedin.com/in/kuldeep-singh-panwar-b12486210"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
        {{>footer}}
</body>

</html>